android/app/klipsy.keystore
android/keystore.properties
*firebase-adminsdk*.json
klipsy-inceleme.zip
klipsy-apk-proje.zip
android-native-debug.zip
node_modules/
android/build/
android/app/build/
android/.gradle/
android/.kotlin/
www/
supabase/.temp/
node_modules/
android/build/
android/app/build/
android/.gradle/
android/.kotlin/
www/
supabase/.temp/
